{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "env": {
    "jest": true,
    "node": true
  },
  "globals": {
    "document": true
  },
  "rules": {
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 1,
    "react/no-unescaped-entities": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "quotes": [
      2,
      "single",
      {
        "avoidEscape": true
      }
    ]
  }
}
